@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imgs/red-clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color:aliceblue;
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
}
#container {
    display: grid;
    margin: 1rem auto;
    margin-top: 1rem;
    min-height: 100vh;
    max-height: 150vh;
    max-width: 50%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 2rem;
}

#textArea {
    display: flex;
    padding: 1rem 2rem;
    background-color: rgb(0 0 0 / 37%);
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

#operators {
    display: grid;
    max-height: 37rem;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    text-align: center;
    background-color:#394e7aab;
    border-radius: 0.5rem;
}

.items {
    border: 2px solid aliceblue;
    border-radius: 0.5rem;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}
#all-clear {
    grid-column-start: 3;
    grid-column-end: 5;
}